body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#menu {
  transform: translate3d(0, 0, 0);
  transition: translate3d 320ms ease-in-out;
  z-index: 1;
}

#menu .hide {
  transform: translate3d(0, -100%, 0);
}

.branding {
  color: #999;
}

.branding:hover {
  color: #fff;
}

.list-group {
  height: 80vh;
}

.list-item:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  #about-screen {
    margin-top: 20rem;
  }
}

/* Element layout over-flow */
.v-scroll {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: block;
  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: block;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: blocks;
}
